/build

/.idea/AndroidProjectSystem.xml
/.gradle/buildOutputCleanup/buildOutputCleanup.lock
/.gradle/buildOutputCleanup/cache.properties
/.gradle/8.14.4/checksums/checksums.lock
/.gradle/9.0.0/checksums/checksums.lock
/.idea/compiler.xml
/.gradle/config.properties
/.idea/deploymentTargetSelector.xml
/.idea/caches/deviceStreaming.xml
/.gradle/8.14.4/executionHistory/executionHistory.bin
/.gradle/8.14.4/executionHistory/executionHistory.lock
/.gradle/file-system.probe
/.gradle/8.14.4/fileHashes/fileHashes.bin
/.gradle/8.14.4/fileHashes/fileHashes.lock
/.gradle/9.0.0/fileHashes/fileHashes.lock
/.gradle/8.14.4/gc.properties
/.gradle/9.0.0/gc.properties
/.gradle/vcs-1/gc.properties
/.idea/gradle.xml
/gradle/wrapper/gradle-wrapper.jar
/gradle/wrapper/gradle-wrapper.properties
/.gradle/8.14.4/fileChanges/last-build.bin
/.gradle/9.0.0/fileChanges/last-build.bin
/local.properties
/.idea/markdown.xml
/.idea/migrations.xml
/.idea/misc.xml
/.gradle/buildOutputCleanup/outputFiles.bin
/.idea/inspectionProfiles/Project_Default.xml
/.gradle/8.14.4/fileHashes/resourceHashesCache.bin
/.idea/runConfigurations.xml
/.idea/vcs.xml
/.idea/.gitignore
/app/app.iml
/.idea/Cardioo Sport.iml
/.gradle/8.14.4/checksums/md5-checksums.bin
/.idea/dictionaries/project.xml
/.gradle/8.14.4/checksums/sha1-checksums.bin
